/* Register 1 */

/*
position: relative;
width: 1280px;
height: 720px;

background: #FFFFFF;
*/


/* Registration */
.registration-div{
  position: absolute;
  width: 187px;
  height: 48px;
  left: 547px;
  top: 72px;

  font-family: Reenie Beanie, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 48px;
  text-align: center;

  color: #DD417C;
}


/*

!* Let’s go! *!

position: absolute;
width: 67px;
height: 24px;
left: 606px;
top: 363px;

font-family: Reenie Beanie;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 24px;
text-align: center;

color: #DD417C;



!* Ex.. Excu.. Excuse me Ma’am we’ve been waiting for 6 hours in line!! *!

position: absolute;
width: 157px;
height: 54px;
left: 668px;
top: 447px;

font-family: Reenie Beanie;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 18px;
text-align: center;

color: #090909;



!* image *!

position: absolute;
width: 149px;
height: 174px;
left: 801px;
top: 509px;

background: url(image.png);


!* Rectangle *!

position: absolute;
width: 24px;
height: 11px;
left: 889px;
top: 665px;

background: #FFFFFF;


!* Vector 4 *!

position: absolute;
width: 0.42px;
height: 10.52px;
left: 621.03px;
top: 541.59px;

border: 1px solid #000000;


!* Vector 5 *!

position: absolute;
width: 17.82px;
height: 0.32px;
left: 621.03px;
top: 541.59px;

border: 1px solid #000000;


!* Vector 6 *!

position: absolute;
width: 0.42px;
height: 33.48px;
left: 624.42px;
top: 543.83px;

border: 1px solid #000000;


!* Vector 7 *!

position: absolute;
width: 50.91px;
height: 0.96px;
left: 624.85px;
top: 576.99px;

border: 1px solid #000000;


!* Vector 8 *!

position: absolute;
width: 0.94px;
height: 33.16px;
left: 675.76px;
top: 544.46px;

border: 1px solid #000000;


!* Vector 9 *!

position: absolute;
width: 51.33px;
height: 0.64px;
left: 624.42px;
top: 543.83px;

border: 1px solid #000000;


!* Vector 10 *!

position: absolute;
width: 11.53px;
height: 3.59px;
left: 643.94px;
top: 538px;

border: 1px solid #000000;


!* Vector 11 *!

position: absolute;
width: 22.98px;
height: 2.55px;
left: 656.24px;
top: 541.91px;

border: 1px solid #000000;


!* Vector 12 *!

position: absolute;
width: 26.3px;
height: 18.44px;
left: 653.7px;
top: 562.64px;

border: 1px solid #000000;


!* Vector 13 *!

position: absolute;
width: 10.64px;
height: 8.33px;
left: 621px;
top: 571.89px;

border: 1px solid #000000;


!* Vector 30 *!

position: absolute;
width: 0.13px;
height: 9.3px;
left: 632.09px;
top: 560.44px;

border: 1px solid #000000;


!* Vector 31 *!

position: absolute;
width: 4.32px;
height: 10.53px;
left: 632.09px;
top: 558.97px;

border: 1px solid #000000;


!* Vector 32 *!

position: absolute;
width: 4.96px;
height: 4.41px;
left: 637.05px;
top: 564.61px;

border: 1px solid #000000;


!* Vector 33 *!

position: absolute;
width: 3.69px;
height: 3.82px;
left: 641.25px;
top: 564.46px;

border: 1px solid #000000;


!* Vector 34 *!

position: absolute;
width: 6.61px;
height: 10.9px;
left: 642.65px;
top: 565.1px;

border: 1px solid #000000;


!* Vector 35 *!

position: absolute;
width: 1.01px;
height: 0.41px;
left: 645.7px;
top: 561.23px;

border: 1px solid #000000;


!* Vector 36 *!

position: absolute;
width: 2.01px;
height: 3.05px;
left: 648.78px;
top: 564.6px;

border: 1px solid #000000;


!* Vector 37 *!

position: absolute;
width: 5.21px;
height: 6.37px;
left: 650.82px;
top: 561.79px;

border: 1px solid #000000;


!* Vector 38 *!

position: absolute;
width: 2.8px;
height: 0px;
left: 649.64px;
top: 562.28px;

border: 1px solid #000000;


!* Vector 39 *!

position: absolute;
width: 2.8px;
height: 3.07px;
left: 655.74px;
top: 564.86px;

border: 1px solid #000000;


!* Vector 40 *!

position: absolute;
width: 2.61px;
height: 6.74px;
left: 658.67px;
top: 561.55px;

border: 1px solid #000000;


!* Vector 41 *!

position: absolute;
width: 2.92px;
height: 0px;
left: 657.27px;
top: 563.38px;

border: 1px solid #000000;


!* Vector 42 *!

position: absolute;
width: 10.18px;
height: 3.49px;
left: 660.82px;
top: 565.28px;

border: 1px solid #000000;


!* Vector 43 *!

position: absolute;
width: 0.76px;
height: 0.63px;
left: 661.34px;
top: 561.42px;

border: 1px solid #000000;


!* Vector 46 *!

position: absolute;
width: 2.17px;
height: 75.39px;
left: 645.78px;
top: 580px;

border: 1px solid #000000;


!* Vector 47 *!

position: absolute;
width: 5.11px;
height: 3.61px;
left: 639.78px;
top: 657.01px;

border: 1px solid #000000;


!* Vector 48 *!

position: absolute;
width: 25px;
height: 4.47px;
left: 636px;
top: 661.53px;

border: 1px solid #000000;


!* Vector 49 *!

position: absolute;
width: 5.11px;
height: 4.27px;
left: 650.96px;
top: 657.01px;

border: 1px solid #000000;


!* Vector 50 *!

position: absolute;
width: 7.07px;
height: 77.06px;
left: 648.5px;
top: 580px;

border: 1px solid #000000;


!* Vector 51 *!

position: absolute;
width: 11.17px;
height: 0.51px;
left: 632.34px;
top: 580.2px;

border: 1px solid #000000;


!* Vector 52 *!

position: absolute;
width: 175.73px;
height: 76.38px;
left: 658.95px;
top: 436.46px;

border: 0.5px solid #000000;


!* Vector 53 *!

position: absolute;
width: 213px;
height: 103px;
left: 889px;
top: 428px;

border: 0.5px solid #000000;


!* Line *!

position: absolute;
width: 144px;
height: 0px;
left: 491px;
top: 175px;

border: 0.5px solid #787878;


!* Line *!

position: absolute;
width: 144px;
height: 0px;
left: 647px;
top: 175px;

border: 0.5px solid #787878;


!* Line *!

position: absolute;
width: 300px;
height: 0px;
left: 490px;
top: 212px;

border: 0.5px solid #787878;


!* Line *!

position: absolute;
width: 300px;
height: 0px;
left: 490px;
top: 250.57px;

border: 0.5px solid #787878;


!* Line *!

position: absolute;
width: 300px;
height: 0px;
left: 490px;
top: 288.36px;

border: 0.5px solid #787878;


!* Line *!

position: absolute;
width: 300px;
height: 0px;
left: 490px;
top: 327px;

border: 0.5px solid #787878;


!* Line *!

position: absolute;
width: 300px;
height: 0px;
left: 490px;
top: 327px;

border: 0.5px solid #787878;


!* Line *!

position: absolute;
width: 300px;
height: 0px;
left: 490px;
top: 327px;

border: 0.5px solid #787878;


!* Rectangle 2 *!

position: absolute;
width: 100px;
height: 30px;
left: 590px;
top: 360px;

border: 0.5px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border-radius: 3px;*/


/* First name */

.first-name-input{
  position: absolute;
  width: 150px;
  height: 18px;
  left: 490px;
  top: 156px;

  font-family: Reenie Beanie, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;

  border: none;
  border-bottom: 1px solid grey;

  color: black;//#A1A1A1;
}

/* Last name */
.last-name-input{
  position: absolute;
  width: 170px;
  height: 18px;
  left: 648px;
  top: 156px;

  font-family: Reenie Beanie, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;

  border: none;
  border-bottom: 1px solid grey;

  color: black;
}










/* Email address */
.email-input{
  position: absolute;
  width: 330px;
  height: 18px;
  left: 490px;
  top: 194px;

  font-family: Reenie Beanie, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;

  border: none;
  border-bottom: 1px solid grey;

  color: black;
}




/* Confirm email address */
.confirmEmail-input {
  position: absolute;
  width: 330px;
  height: 18px;
  left: 490px;
  top: 232px;

  font-family: Reenie Beanie, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;

  border: none;
  border-bottom: 1px solid grey;

  color: black;
}




/* Password */
.password-input {
  position: absolute;
  width: 330px;
  height: 18px;
  left: 490px;
  top: 268px;

  font-family: Reenie Beanie, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;

  border: none;
  border-bottom: 1px solid grey;

  color: black;
}




/* Confirm Password */
.confirmPassword-input {
  position: absolute;
  width: 330px;
  height: 18px;
  left: 490px;
  top: 306px;

  font-family: Reenie Beanie, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;

  border: none;
  border-bottom: 1px solid grey;

  color: black;
}



.register-button {
  /* Rectangle 2 */

  position: absolute;
  width: 100px;
  height: 30px;
  left: 590px;
  top: 360px;

  background-color: white;
  color: deeppink;
  border: 1.5px solid deeppink;

  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

  //color: #FFFFFF;
}


.register-button:hover {
  background-color: deeppink;
  color: white;
}


/* Group */
.register-bottom-img {
  position: absolute;
  width: 1044px;
  height: 273px;
  left: 143px;
  top: 413px;
}






/*

!* image *!

position: absolute;
width: 435px;
height: 187px;
left: 592px;
top: 497px;

background: url(image.png);
mix-blend-mode: multiply;
transform: matrix(-1, 0, 0, 1, 0, 0);


!* Screen Shot 2018-11-05 at 11.37 *!

position: absolute;
width: 90px;
height: 102px;
left: 0px;
top: -1px;

background: url(Screen Shot 2018-11-05 at 11.36.png);


!* REGISTER *!

position: absolute;
width: 60px;
height: 17px;
left: 1118px;
top: 42px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 13px;

color: #000000;



!* LOG IN *!

position: absolute;
width: 43px;
height: 17px;
left: 1207px;
top: 42px;

font-family: Quicksand;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 13px;

color: #DD417C;



!* HOME *!

position: absolute;
width: 38px;
height: 17px;
left: 1051px;
top: 42px;

font-family: Quicksand;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 13px;

color: #DD417C;



!* REGISTER *!

position: absolute;
width: 60px;
height: 17px;
left: 1118px;
top: 42px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 13px;

color: #000000;



!* LOG IN *!

position: absolute;
width: 43px;
height: 17px;
left: 1207px;
top: 42px;

font-family: Quicksand;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 13px;

color: #DD417C;



!* Vector 54 *!

position: absolute;
width: 0.58px;
height: 8.35px;
left: 630.2px;
top: 548.42px;

border: 1px solid #000000;


!* Vector 55 *!

position: absolute;
width: 7.63px;
height: 10.53px;
left: 628.23px;
top: 547.33px;

border: 1px solid #000000;


!* Vector 56 *!

position: absolute;
width: 4.88px;
height: 2.78px;
left: 637.52px;
top: 553.62px;

border: 1px solid #000000;


!* Vector 57 *!

position: absolute;
width: 0px;
height: 2.18px;
left: 639.49px;
top: 549.87px;

border: 1px solid #000000;


!* Vector 58 *!

position: absolute;
width: 4px;
height: 9.11px;
left: 642.76px;
top: 548.78px;

border: 1px solid #000000;


!* Vector 59 *!

position: absolute;
width: 21.43px;
height: 8.42px;
left: 646.4px;
top: 549.87px;

border: 1px solid #000000;


!* Vector 60 *!

position: absolute;
width: 2.54px;
height: 4.36px;
left: 667.46px;
top: 554.59px;

border: 1px solid #000000;


!* Vector 61 *!

position: absolute;
width: 8.35px;
height: 1.09px;
left: 640.95px;
top: 550.23px;

border: 1px solid #000000;
*/



/* Screen Shot 2018-11-05 at 11.36 */
.dittora-home-logo {
  position: absolute;
  width: 297px;
  height: 102px;
  left: 0px;
  top: 0px;

  //background: url(Screen Shot 2018-11-05 at 11.36.png);
}





/* Log in */
.login-div {
  position: absolute;
  width: 200px;
  height: 48px;
  left: 550px;
  top: 83px;

  font-family: Reenie Beanie, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 48px;
  text-align: center;

  color: #DD417C;
}


/* Email address */
.loginEmail-input {
  position: absolute;
  width: 300px;
  height: 18px;
  left: 490px;
  top: 167px;

  font-family: Reenie Beanie,serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;

  border: none;
  border-bottom: 1px solid grey;

  color: black;//#A1A1A1;
}




/* Password */
.loginPassword-input {
  position: absolute;
  width: 300px;
  height: 18px;
  left: 491px;
  top: 213px;

  font-family: Reenie Beanie, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;

  border: none;
  border-bottom: 1px solid grey;

  color: black;
}


/* Forgot your password? */
.forgotPassword-div {
  position: absolute;
  width: 107px;
  height: 13px;
  left: 490px;
  top: 254px;

  font-family: Roboto,serif;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
  font-size: 11px;
  text-align: center;

  color: #000000;
}

/* Rectangle 2 */
.login-button {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 590px;
  top: 287px;

  background-color: white;
  color: deeppink;
  border: 1.5px solid deeppink;

  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

  //color: #FFFFFF;
}


.login-button:hover {
  background-color: deeppink;
  color: white;
}




/* Group */
.login-bottom-img {
  position: absolute;
  width: 1079px;
  height: 232px;
  left: 100px;
  top: 427px;
}






















/* Home Page CSS */

/* Nav-Bar */

/* HOME */
.navBar-home {
  position: absolute;
  width: 38px;
  height: 17px;
  left: 864px;
  top: 43px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 13px;

  color: #DD417C;
}

/* ABOUT */
.navBar-about {
  position: absolute;
  width: 44px;
  height: 17px;
  left: 931px;
  top: 43px;

  font-family: Quicksand,serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 13px;

  /*-webkit-transition-duration: 2s;
  transition-duration: 2s;*/

  color: #000000;
}

/* CONTACT */
.navBar-contact {
  position: absolute;
  width: 60px;
  height: 17px;
  left: 1004px;
  top: 43px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 13px;

  color: #000000;
}

/* REGISTER */
.navBar-register {
  position: absolute;
  width: 60px;
  height: 17px;
  left: 1093px;
  top: 43px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 13px;

  color: #000000;
}
.navBar-register-active {
  position: absolute;
  width: 60px;
  height: 17px;
  left: 1093px;
  top: 43px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 13px;

  color: #DD417C;
}

/* LOG IN */
.navBar-login {
  position: absolute;
  width: 43px;
  height: 17px;
  left: 1182px;
  top: 43px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 13px;

  color: #000000;
}

.navBar-login-active {
  position: absolute;
  width: 43px;
  height: 17px;
  left: 1182px;
  top: 43px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 13px;

  color: #DD417C;
}

/* Get matched with students who share the same personality as you! Dittora is a free platform that links students who have the same interests, hobbies, aspirations, values and personality. */

.text1-p {
  position: absolute;
  width: 450px;
  height: 138px;
  left: 183px;
  top: 206px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 36px;

  color: #040404;
}


.text2-p {
  position: absolute;
  width: 450px;
  height: 68px;
  left: 183px;
  top: 366px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 17.6px;

  color: #040404;
}


/* GET STARTED */
.home-button-1 {
  position: absolute;
  width: 138px;
  height: 28px;
  left: 332px;
  top: 484px;

  padding-left: 9px;
  //padding-bottom: 4px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;

  background-color: white;
  color: deeppink;
  border: 1.5px solid deeppink;

  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  //color: #FFFFFF;
}

.home-button-1:hover {
  background-color: deeppink;
  color: white;
}


/* Vector 64 */
.vector64 {
  position: absolute;
  width: 354px;
  height: 105px;
  left: 729px;
  top: 192px;

  border: 0.5px solid white;
}

/* My Gosh... It’s like looking in the mirror!! */
.my-gosh-text {
  position: absolute;
  width: 334px;
  height: 24px;
  left: 742px;
  top: 236px;

  font-family: Reenie Beanie;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 24px;
  text-align: center;

  color: #DD417C;
}

.penguin-logos {
  position: absolute;
  width: 351px;
  height: 358px;
  left: 742px;
  top: 236px;
}





/* Line 1*/
.home-line-1 {
  position: absolute;
  width: 1111px;
  height: 0px;
  left: 85px;
  top: 627px;

  border: 0.5px solid rgba(0, 0, 0, 0.21);
}




/* How does it work? */
.text1-p2 {
  position: absolute;
  width: 327px;
  height: 45px;
  left: 80px;
  top: 688px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 36px;

  color: #000000;


}

/* Group 5 */
.dittora-big-logo {
  position: absolute;
  width: 206px;
  height: 188px;
  left: 521px;
  top: 762px;

  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  //background: none;
}

/* Step 1 */
.step1-logo {
  position: absolute;
  width: 69px;
  height: 60px;
  left: 73px;
  top: 896px;

  font-family: Rancho;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;

  color: #000000;
}

/* add-user */
.sign-up-logo-p2 {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 144px;
  top: 916px;

  //background: url(add-user.png);
  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Create your account sign up here */
.create-account {
  position: absolute;
  width: 145px;
  height: 60px;
  left: 112px;
  top: 1011px;

  font-family: Rancho;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;

  color: #000000;
}

/* test-quiz */
.inner-menu-box {
  position: absolute;
  width: 91px;
  height: 94px;
  left: 397px;
  top: 1077px;

  //background: url(test-quiz.png);
  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Vector 42 */
.menu-box{
  position: absolute;
  width: 98.12px;
  height: 111.91px;
  left: 394.57px;
  top: 1070.61px;

  border: 1px solid white;
  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}







/* Group 11 */
/* Step 2 */
.step2-logo {
  position: absolute;
  width: 79px;
  height: 60px;
  left: 395px;
  top: 1011px;

  font-family: Rancho;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;

  color: #000000;
}






.first-arrow {
  position: absolute;
  width: 191.13px;
  height: 133.37px;
  left: 177.93px;
  top: 1031.22px;
}

/* Complete the questionnaire */
.complete-questionnaire-text {
  position: absolute;
  width: 129px;
  height: 60px;
  left: 379px;
  top: 1195px;

  font-family: Rancho;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;

  color: #000000;
}





/* Group 12 */
.second-arrow {
  position: absolute;
  width: 220.71px;
  height: 80.18px;
  left: 499.73px;
  top: 1035.51px;

}

/* Step 3 */
.step3-logo {
  position: absolute;
  width: 81px;
  height: 60px;
  left: 734px;
  top: 1011px;

  font-family: Rancho;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;

  color: #000000;
}


/* data */
.menu-2-box-p2 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 756px;
  top: 1083px;

  //background: url(data.png);
  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Visualize your results on an interactive Dashboard */
.visualize-text {
  position: absolute;
  width: 188px;
  height: 60px;
  left: 712px;
  top: 1195px;

  font-family: Rancho;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;

  color: #000000;
}





/* Vector 85 */
.third-arrow {
  position: absolute;
  width: 142.32px;
  height: 137.82px;
  left: 829.54px;
  top: 936.91px;

  border: 1px solid white;
}

/* Step 4 */
.step4-logo {
  position: absolute;
  width: 81px;
  height: 60px;
  left: 985px;
  top: 896px;

  font-family: Rancho;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;

  color: #000000;
}

/* Group 7 */
.mirror-image {
  position: absolute;
  width: 128px;
  height: 128px;
  left: 1068px;
  top: 913px;
}



/* Connect with likeminded students coming soon... */
.connect-text {
  position: absolute;
  width: 175px;
  height: 81px;
  left: 1033px;
  top: 1054px;

  font-family: Rancho;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;

  color: #000000;
}










/* Line 2*/
.home-line-2 {
  position: absolute;
  width: 1111px;
  height: 0px;
  left: 85px;
  top: 1309px;

  border: 0.5px solid rgba(0, 0, 0, 0.21);
}



/* On this platform, we have students from... */
.text1-p3 {
  position: absolute;
  width: 457px;
  height: 30px;
  left: 80px;
  top: 1351px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;

  color: #000000;
}

/* concordia-logo */
.concordia-logo {
  position: absolute;
  width: 322px;
  height: 86px;
  left: 96px;
  top: 1463px;

  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */

  //background: url('../../images-logos/concordia-logo.svg'); //('./concordia-logo.svg');
  mix-blend-mode: luminosity;
}

/* UMcGill */
.mcgill-logo{
  position: absolute;
  width: 362px;
  height: 140px;
  left: 474px;
  top: 1447px;


  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */

  //background: url(UMcGill.png);
  mix-blend-mode: luminosity;
}

/* udem */
.udem-logo {
  position: absolute;
  width: 242px;
  height: 108px;
  left: 907px;
  top: 1444px;

  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */


 // background: url(udem.png);
  mix-blend-mode: luminosity;
}


/* uqam */
.uqam-logo {
  position: absolute;
  width: 283px;
  height: 102px;
  left: 131px;
  top: 1619px;

  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */

  //background: url(uqam.png);
  mix-blend-mode: luminosity;
}


/* ets */
.ets-logo {
  position: absolute;
  width: 217px;
  height: 140px;
  left: 557px;
  top: 1601px;

  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */

  //background: url(ets.jpg);
  mix-blend-mode: luminosity;
}


/* aub */
.aub-logo {
  position: absolute;
  width: 240px;
  height: 159.6px;
  left: 917px;
  top: 1587px;

  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */

  //background: url(aub.png);
  mix-blend-mode: luminosity;
}





/* Line 3*/
.home-line-3 {
  position: absolute;
  width: 1111px;
  height: 0px;
  left: 85px;
  top: 1803px;

  border: 0.5px solid rgba(0, 0, 0, 0.21);
}


/* Contact us */
.text1-p4 {
  position: absolute;
  width: 182px;
  height: 45px;
  left: 80px;
  top: 1850px;

  font-family: Quicksand,serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 36px;

  color: #000000;
}

/* Vector 89 */
.mail-logo-p4 {
  position: absolute;
  width: 200px;
  height: 115px;
  left: 436px;
  top: 1900px;

  border: 1px solid white;
}




/* Rectangle 7 */
.home-fullName-input {
  position: absolute;
  width: 298px;
  height: 47px;
  left: 96px;
  top: 1913px;

  background: rgba(221, 65, 124, 0.09);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 53px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  padding-left: 20px;

  color: #000000;
}

/*!* Full name *!
.home-fullName-text {
  position: absolute;
  width: 82px;
  height: 23px;
  left: 118px;
  top: 1924px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;

  color: #000000;
}*/

/* Rectangle 7.4 */
.home-email-input {
  position: absolute;
  width: 298px;
  height: 52px;
  left: 96px;
  top: 1965px;

  background: rgba(221, 65, 124, 0.09);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 53px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  padding-left: 20px;

  color: #000000;
}



/*!* Email address *!

position: absolute;
width: 117px;
height: 23px;
left: 118px;
top: 1977px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #000000;*/


/* Rectangle 7.3 */
.home-message-input {
  position: absolute;
  width: 516px;
  height: 178px;
  left: 96px;
  top: 2022px;

  background: rgba(221, 65, 124, 0.09);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 26px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 0px;

  color: #000000;
}

/* Type your message here... */
.home-message-inner-input {
  position: absolute;
  width: 215px;
  //left: 96px;

  box-sizing: border-box;
  resize: none;

  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  //top: 2022px;



  //width: 215px;
  height: 23px;
  left: 20px;
  top: 20px;


  color: #000000;
  background: none;
  border: none;


  /*//width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  //background-color: #f8f8f8;
  resize: none;*/
}




/*
!* Type your message here... *!

position: absolute;
width: 215px;
height: 23px;
left: 118px;
top: 2032px;

font-family: Quicksand;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #000000;*/


/* LET’S TALK */
.home-button-2 {
  position: absolute;
  width: 136px;
  height: 38px;
  left: 280px;
  top: 2231px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;

  background-color: white;
  color: deeppink;
  border: 1.5px solid deeppink;

  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

  //color: #FFFFFF;
}


.home-button-2:hover {
  background-color: deeppink;
  color: white;
}

.body{
  margin-left: 500px;


}

/* Emil Sent */
.home-email-sent {
  position: absolute;
  width: 300px;
  height: 25px;
  left: 180px;
  top: 2250px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
}


/* Line 2 */
.horizontal-line-p4 {
  position: absolute;
  width: 309.01px;
  height: 0px;
  left: 500px;
  top: 2054.01px;

  border: 1px solid #000000;
  transform: rotate(-90deg);
}


/* Address 1250 Guy St Suite #600, Montreal, QC H3H 2L3 E-mail: info@dittora.com */
.text2-p4 {
  position: absolute;
  width: 267px;
  height: 90px;
  left: 674px;
  top: 1893px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 28px;

  color: #000000;
}

.text3-p4 {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 674px;
  top: 1993px;

  font-family: Quicksand, serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 28px;

  color: #000000;
}

.text4-p4 {
  position: absolute;
  width: 300px;
  height: 30px;
  left: 674px;
  top: 2100px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 28px;

  color: #000000;
}

/* SIGN UP TODAY!!!! */
.sign-up {
  position: absolute;
  width: 288px;
  height: 36px;
  left: 988px;
  top: 1970.73px;

  /*font-family: Reenie Beanie;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 36px;
  text-align: center;*/

  color: #090909;

  //transform: rotate(-12.47deg);
}



/* Big Bear */
.big-bear {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 1023px;
  top: 2025px;

}




/*!* Group 8 *!

position: absolute;
width: 284px;
height: 280.5px;
left: 996px;
top: 2023px;



!* Vector 97 *!

position: absolute;
width: 284px;
height: 268.77px;
left: 996px;
top: 2034.73px;

background: rgba(221, 65, 124, 0.34);
border: 1px solid #000000;


!* Vector 100 *!

position: absolute;
width: 83.08px;
height: 46px;
left: 1112.14px;
top: 2042.84px;

background: #FFFFFF;
border: 1px solid #000000;


!* Vector 104 *!

position: absolute;
width: 51.71px;
height: 18.94px;
left: 1130.79px;
top: 2055.47px;

background: #000000;
border: 1px solid #000000;


!* Vector 101 *!

position: absolute;
width: 251.79px;
height: 35.18px;
left: 1012.96px;
top: 2101.47px;

background: rgba(221, 65, 124, 0.39);
border: 1px solid #000000;


!* Vector 102 *!

position: absolute;
width: 26.28px;
height: 15.33px;
left: 1124.86px;
top: 2078.92px;

background: #565656;
border: 1px solid #000000;


!* Vector 103 *!

position: absolute;
width: 110.21px;
height: 51.41px;
left: 1118.08px;
top: 2023px;

background: #DD417C;
border: 1px solid #000000;


!* Vector 98 *!

position: absolute;
width: 138.19px;
height: 72.15px;
left: 1073.15px;
top: 2206.99px;

background: #C4C4C4;
border: 1px solid #000000;


!* Vector 99 *!

position: absolute;
width: 150.9px;
height: 58.63px;
left: 1059.58px;
top: 2088.84px;

background: #DD417C;
border: 1px solid #000000;*/





/* Product owned by Tesseract Technologies Inc. */
.product-owned {
  position: absolute;
  left: 500px;
  height: 16px;
  top: 10px;

  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;

  color: #ffffff;
}

/* Rectangle 8 */
.div-product-owned{
  position: absolute;
  width: 1300px;
  height: 44px;
  left: 0px;
  top: 2303px;

  background: #484747;
}






.main-div {
  //position: absolute;
  //margin-left: 120px;
  /*overflow: auto;
  position: fixed;
  height: 100%;
  width: 100%;
  resize: both;*/
  /*height: auto;
  max-width: 100%;
  width: auto\9;*/
}

#mydiv {
  position: absolute;
}

